{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="center" style="min-height: 80vh;">
    <h2 style="text-align: center;">Login</h2>
    <form method="POST" action="{{ url }}" class="center">
        <div class="form-sm-container">
                {% csrf_token %}
                {{ form }}
                <div class="error">
                    {{ error }}
                </div>
        </div>
        <button type="submit" class="mybutton green" style="margin-top: 5vh;">
            Submit
        </button>
    </form>
</div>
{% endblock %}
