{% extends 'base.html' %}
{% load static %}

{% block title %} Medical History {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="layout flexend">
    <div class="form-container">
        <h2>Medical History Form</h2>
        <form method="POST" action="{{ url }}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="mybutton green" style="margin-top: 2vh;">
                Submit
            </button>
        </form>
    </div>
</div>
</div>
<div class="sticky-left">
    <div>
        <img src="{% static 'images/penguin_doctor.png'%}" alt="Penguin Doctor" class="penguin">
    </div>
    <div class="chat right">
        <div class="talk-bubble tri-right btm-left-in">
            <div class="talktext">
            <p>Please fill in the following medical history questionnaire.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
