{% extends 'base.html' %}
{% load static %}

{% block title %} Your Profile {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="layout flexend">
    <div class="form-container">
        <h2>
            {% if action == 'update' %}
                Update your Profile
            {% else %}
                Welcome, {{ user.get_full_name }}!
            {% endif %}
        </h2>
        <form method="POST" action="{{ url }}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="mybutton green" style="margin-top: 2vh;">
                {% if action == 'update' %}
                    Save
                {% else %}
                    Submit
                {% endif %}
            </button>
        </form>
        <p style="color: red; margin-top: 1.5rem; font-weight: 400;">{{ error }}</p>
    </div>
</div>
<div class="sticky-left">
    <div>
        <img src="{% static 'images/penguin_facing_right.png'%}" alt="Penguin showing form" class="penguin">
    </div>
    <div class="chat right">
        <div class="talk-bubble tri-right btm-left-in">
            <div class="talktext">
            {% if action == 'update' %}
                <p>What do you want to update?</p>
            {% else %}
                <p>Please complete your {{ type }} profile for our assessment.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
