{% extends 'base.html' %}
{% load static %}

{% block title %} Shifts and Job Requirements {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="layout">
    <form method="POST" action="{% url 'company:shift_and_jobreq' %}">
        {% csrf_token %}
        <div class="flexend" style="margin-bottom: 5vh;">
            <button type="submit" class="mybutton green" style="margin: 0;">
                Save
            </button>
        </div>
        <div class="wrap-container">
            <div class="form-sm-container">
                <div id="company_shift_form" data-shifts="{{ shifts }}">
                    <h2 style="margin-bottom: 1rem;">Work Shifts per Day</h2>
                    <p style="margin: 0 0 4vh;">
                        If there are no shifts, fill in the start and end operation time of your company.
                    </p>
                </div>
                <button type="button" class="btn green" id="add_shift" onClick="addShiftRow()">
                    + Add Shift
                </button>
            </div>

            <div class="form-container">
                <div id="company_jobreq_form" data-job-type-choices="{{ job_type_choices }}"
                    data-job-reqs="{{ job_reqs }}">
                    <h2 style="margin-bottom: 1rem;">Job Requirements per Shift</h2>
                    <p style="margin: 0;">
                        Current number of employees per shift:
                        <b>{{ employees_per_shift }}</b>
                    </p>
                    <p style="margin: 0 0 4vh;">
                        (will be overridden by the sum of employees in job requirements if they are filled)
                    </p>
                </div>
                <button type="button" class="btn green" id="add_shift" onClick="addJobReqRow()">
                    + Add Job Requirement
                </button>
            </div>
        </div>
    </form>
</div>

<script src="{% static 'javascript/shift_and_jobreq.js' %}"></script>
{% endblock %}
