{% extends 'base.html' %}
{% load static %}

{% block title %} Sign Up {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="layout">
    <div class="form-container">
        <h2>Create your Scoovid Account</h2>
        <form method="POST" action="{{ url }}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="mybutton green" style="margin-top: 2vh;">
                Submit
            </button>
        </form>
    </div>
</div>
<div class="sticky-right">
    <div class="chat">
        <div class="talk-bubble tri-right btm-right-in">
            <div class="talktext">
            <p>Please fill in the {{ type }} registration form.</p>
            </div>
        </div>
    </div>
    <div>
        <img src="{% static 'images/penguin_show_left.png'%}" alt="Penguin showing form" class="penguin">
    </div>
</div>
{% endblock %}
