@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');

.box {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: visible;
    background-color: #F7F7F7;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1), -15px -15px 25px #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    transition: 75ms ease-in;
    text-decoration: none !important;
    min-height: 150px;
    z-index: -2;
    cursor: pointer;
}

.box:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px #FFFFFF;
    transform: scale(.99);
}

.box_title {
    font-size: 24px;
    margin-bottom: 0px;
}

.employee {background-image: url('../images/penguin_welcome.png');}
.company {background-image: url('../images/penguin_welcome.png');}
.working {background-image: url('../images/penguin_construction.png');}
.no_assign {background-image: url('../images/penguin_confused.png');}

@media only screen and (max-width: 600px) {
    .box {
        padding: 15px;
		background-position: bottom right;
    }
}