.talk-bubble {
    position: relative;
	width: 200px;
	height: auto;
	background-color: white;
  	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -20px;
	right: auto;
  	top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -20px;
	right: auto;
  	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: white white transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent white;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  	right: auto;
  	top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: white transparent transparent white;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: white white transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: white white transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: white transparent transparent white;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

.talktext {
	padding: 1em;
	text-align: left;
	line-height: 1.5em;
}

.talktext p {
  	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
  	font-size: calc(1rem + 0.3vw);
}
