.form-container {
  width: 45vw;
}

.form-sm-container {
  width: 30vw;
}

.penguin {
  width: 20vw;
}

.sticky-right {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 9;
  display: flex;
}

.sticky-left {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  z-index: 9;
  display: flex;
}

label {
  font-family: inherit;
  font-size: calc(1rem + 0.2vw);
  margin: 0 0 0.2rem;
}

.chat {
  margin-top: -2rem;
}

.chat.right {
  margin-left: -3rem;
}

.without-bullet {
  list-style-type: none;
}

.btn.remove {
  padding: 0;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  line-height: normal;
  font-size: 0.9rem;
}

.wrap-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .form-layout {
    margin: 7vh 5vw;
  }

  .form-container {
    width: 55vw;
  }

  .form-sm-container {
    width: 50vw;
  }

  .penguin {
    width: 25vw;
  }

  .chat {
    display: none;
  }

  .wrap-container {
    flex-direction: column;
  }

  #company_jobreq_form {
    margin-top: 10vh;
  }
}

@media (max-width: 500px) {
  .form-container {
    width: 90vw;
  }

  .form-sm-container {
    width: 90vw;
  }

  .form-container.right {
    margin-left: 0;
  }

  .sticky-right {
    display: none;
  }

  .sticky-left {
    display: none;
  }
}
