.overlay {
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 300;
    cursor: pointer;
    transition: 200ms;
}

.overlay_foreground {
    background-color: #F7F7F7;
    border-radius: 30px;
    position: fixed;
    height: auto;
    max-height: 570px;
    width: 600px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 50px;
    cursor: default;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    transition: 200ms ease-in-out;
    z-index: 400;
    visibility: hidden;
}

.overlay_foreground  h1 {
    margin-bottom: 0px;
}

.daftar_fore .box {
    background-size: 40%;
}

.daftar_fore {
    width: 800px;
    max-height: 630px;
}

@media only screen and (max-width: 600px) {
    .overlay_foreground  {
        width: 80vw;
        padding: 30px;
        background-position: top right;
        background-size: 240px auto;
    }

    .daftar_fore {
        padding: 15px;
    }

    .daftar_overlay_container {
        max-height: 490px;
    }
}