@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&family=Jost:wght@300;500;700&display=swap');

html {
    scroll-behavior: smooth !important;
}

img {
    text-indent: -10000px
}

::selection {
    color: white;
    background-color: #418C7A;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #418C7A;
}

body {
    background: #E7E7E7;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 400;
    color: #418C7A;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    font-family: 'Jost';
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-family: 'Barlow Condensed';
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5vh;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    font-weight: 300;
}

a {
    text-decoration: none !important;
    color: #418C7A;
    font-family: 'Barlow Condensed', sans-serif !important;
}

a:hover {
    color: #418C7A
}

.bold {
    font-weight: 700;
}

.onlypc {
    display: block;
}

.onlymobile {
    display: none;
}

.scrolldown {
    height: 100px;
    position: absolute;
    left: 100px;
    top: 720px;
    animation: pulse 1s infinite;
}

.scrolldown:hover {
    animation: none;
}

.mybutton {
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 75ms;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
}

.mybutton:hover {
    transform: scale(.98);
}

.green {
    background: #418C7A;
    box-shadow: 0px 10px 15px rgba(65, 140, 122, 0.5);
    color: #f7f7f7 !important;
}

.green:hover {
    box-shadow: 0px 0px 5px rgba(65, 140, 122, 0.5);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.layout {
    margin: 7vh 7vw;
}

.nav-layout {
    padding: 0 7vw;
}

.secret-code {
    background-color: white;
    color: #343434;
    padding: 3rem;
    border-radius: 1rem;
    margin: 5vh 0 15vh;
}

@media only screen and (max-width: 600px) {
    .onlypc {
        display: none;
    }

    .onlymobile {
        display: block;
    }

    nav {
        height: 50px;
    }

    .navlogo {
        display: none;
    }

    .navbar a{
        color: #418C7A;
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }
}
