{% load static %}
<script src="{% static 'javascript/navbar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
	<a class="logo_mobile" href="{% url 'home:landing' %}">
		<img src="{% static 'images/logo.png' %}" height="30px" alt="Scoovid">
	</a>
	<div class="navi">
		<div class="hamburger">
			<img class="dropdown" src="{% static 'images/dropdown.svg' %}" height="15px" alt="Dropdown">
		</div>
		<div class="nav-layout" style="height: 100%;">
			<div class="row" style="height: inherit;">
				<div class="col-3 onlypc">
					<a class="logo_pc" href="{% url 'home:landing' %}">
						<img height="40px" src="{% static 'images/logo.png' %}" alt="Scoovid">
					</a>
				</div>
				<div class="col" style="padding-right: 15px;">
					<ul class="nav-links">
						<li><a href="{% url 'company:home' %}">
							Dashboard
						</a></li>
						<li><a href="{% url 'company:transmission_table' %}">
							Transmission table
						</a></li>
						<li><a href="{% url 'company:secret_code' %}">
							Secret Code
						</a></li>
						<li><a href="{% url 'company:shift_and_jobreq' %}">
							Shifts and Job Requirements
						</a></li>
						<div class="onlypc" style="width: 15px;"></div>
						<li><a href="{% url 'company:run_ga' %}" class="mybutton green">
							Generate New Schedule
						</a></li>
						<div class="onlypc" style="width: 15px;"></div>
						<li>
							<form action="{% url 'user:logout' %}" method="POST">
								{% csrf_token %}
								<button style="border: none;outline:none;" type="submit"><a class="mybutton green">
									Log Out
								</a></button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
