{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<link rel="stylesheet" href="{% static 'css/box.css' %}">
<div class="fore overlay_foreground daftar_fore" id="upload_foreground_sign_up">
    <h2 style="margin-left: 15px;">Sign Up</h2>
    <div class="container">
        <div class="row">
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="{% url 'user:signup_employee' %}">
                    <div style="min-height: 120px;" class="box employee">
                        <p class="bold box_title">Employee</p>
                    </div>
                </a>
            </div>
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="{% url 'user:signup_company' %}">
                    <div style="min-height: 120px;" class="box company">
                        <p class="bold box_title">Company</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()">
</div>
