{% extends 'base.html' %}
{% load static %}

{% block title %} Transmission table {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
<link rel="stylesheet" href="{% static 'css/box.css' %}">
<style>
@media screen and (min-width:700px) {
  .transmission-table {
    display: grid;
    grid-gap: 1em;
    grid-template-rows:
      [tracks] auto
	  {% for employee in employees %}
      [time-{{employee.full_name_in_dash}}] 1fr
	  {% endfor %}
      [time-end] 1fr;
    
    grid-template-columns:
      [times] 7em
	  {% for shift in shift_sample %}
	  {% if forloop.first %}
		[track-{{ forloop.counter }}-start] 1fr
	  {% elif forloop.last %}
		[track-{{ forloop.counter0 }}-end track-{{ forloop.counter }}-start] 1fr;
	  {% else %}
		[track-{{ forloop.counter0 }}-end track-{{ forloop.counter }}-start] 1fr
	  {% endif %}
	  {% endfor %}
  }
}
</style>
{% endblock %}

{% block content %}
<div class="center" style="min-height: 90vh;">  
{% if not is_empty %}
<h2 style="text-align: center;">Transmission Table for Current Schedule</h2>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md" style="margin-bottom: 30px;">
      {% if is_empty %}
        <h2 style="text-align: center; margin-top: 6rem;">No Assignments Made</h2>
				<img src="{% static 'images/penguin_confused.png' %}" height="200px" alt="Scoovid" style ="display: block;margin-left: auto;margin-right: auto;">
			{% else %}
        <div class="transmission-table" aria-labelledby="transmission-table-heading" style="overflow:scroll;height:450px">

          {% for shift in shift_sample %}
          <span class="track-slot" aria-hidden="true" style="grid-column: track-{{ forloop.counter }}; grid-row: tracks;">{{ shift }}</span>
          {% endfor %}

          {% for employee in employees %}
          <h2 class="time-slot" style="grid-row: time-{{employee.full_name_in_dash}}; word-break: break-word;">{{employee.full_name}}</h2>
          {% endfor %}

          {% for shift in shifts %}
          {% for current_shift, employee_shift_arr in shift.items %}
          {% for employee_shift in employee_shift_arr %}
          <div class="session track" style="grid-column: track-{{ forloop.parentloop.parentloop.counter }}-start; grid-row: time-{{employee_shift.employee.full_name_in_dash}};">
            <span class="session-presenter">{{employee_shift.risk_score}}%</span>
          </div>
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}
