{% extends 'base.html' %}
{% load static %}

{% block title %} Secret Code {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bubble.css' %}">
{% endblock %}

{% block content %}
<div class="center" style="min-height: 90vh;">
    <h3>{{ company.name }}</h3>
    <h2>Secret Code</h2>
    <div class="secret-code">
        <h1>{{ company.secret_code }}</h1>
    </div>
    <p style="color: red; font-weight: 400;">
        This information is confidential for your employees to register under your company.
    </p>
</div>
{% endblock %}
