{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
<div class="center" style="min-height: 85vh;">
	<img src="{% static 'images/logo.png'%}" alt="Scoovid Logo" style="height: 30vh;">
	<h1 style="margin-bottom: 0;">SCOOVID</h1>
	<h3 style="margin-bottom: 7vh;">Scheduling Made Easy amidst COVID-19</h3>
</div>
{% endblock %}
