{% extends 'base.html' %}
{% load static %}

{% block title %}
    Calendar
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/box.css' %}" />
{% endblock css %}

{% block content %}
	{% if schedule == 'company' %}
		{% include './overlay_company_shift.html' %}
	{% elif schedule == 'employee' %}
		{% include './overlay_shift.html' %}
	{% endif %}
    <div class="container_calendar">
      <div class="calendar">
        <div class="month">
          <img class="fas fa-angle-left prev" src="{% static 'images/left.svg' %}" height="15px" alt="prev">
          <div class="date">
            <h1></h1>
            <p></p>
          </div>
		  <img class="fas fa-angle-right next" src="{% static 'images/right.svg' %}" height="15px" alt="next">
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>

    <script src="{% static 'javascript/calendar.js' %}"></script>
{% endblock content %}