{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<link rel="stylesheet" href="{% static 'css/box.css' %}">
{% for key, shift_arr in shifts.items %}
<div class="fore overlay_foreground daftar_fore" id="{{key}}">
    <h2 style="margin-left: 15px;">Working Hours</h2>
    <div class="container">
        <div class="row">
			{% for shift in shift_arr %}
            <div class="col-md" style="margin-bottom: 30px;">
				<div style="min-height: 120px;" class="box">
					<p class="bold box_title">{{shift}}</p>
					<br>
					<p class="bold box_title">{{employee.job_type}}</p>
				</div>
            </div>
			{% endfor %}
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()">
</div>
{% endfor %}
