{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<link rel="stylesheet" href="{% static 'css/box.css' %}">
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
<style>
@media screen and (min-width:700px) {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-rows:
      [tracks] auto
	  {% for employee in employees %}
      [time-{{employee.full_name_in_dash}}] 1fr
	  {% endfor %}
      [time-end] 1fr;
    
    grid-template-columns:
      [times] 9em
	  {% for shift in shift_sample %}
	  {% if forloop.first %}
		[track-{{ forloop.counter }}-start] 1fr
	  {% elif forloop.last %}
		[track-{{ forloop.counter0 }}-end track-{{ forloop.counter }}-start] 1fr;
	  {% else %}
		[track-{{ forloop.counter0 }}-end track-{{ forloop.counter }}-start] 1fr
	  {% endif %}
	  {% endfor %}
  }
}
</style>
{% for key, shift_dict in shifts.items %}
<div class="fore overlay_foreground daftar_fore" id="{{key}}">
	{% if is_empty %}
	<h2 style="margin-left: 15px;">No Assignments Made</h2>
	{% else %}
    <h2 style="margin-left: 15px;">Working Hours</h2>
	{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md" style="margin-bottom: 30px;">
				{% if is_empty %}
					<img src="{% static 'images/penguin_confused.png' %}" height="200px" alt="Scoovid" style ="display: block;margin-left: auto;margin-right: auto;">
				{% else %}
					{% include 'dashboard/schedule.html' %}
				{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()">
</div>
{% endfor %}
