{% load static %}
<div class="schedule" aria-labelledby="schedule-heading" style="overflow:scroll;height:450px">
  
  {% for shift in shift_sample %}
  <span class="track-slot" aria-hidden="true" style="grid-column: track-{{ forloop.counter }}; grid-row: tracks;">{{ shift.get_hour_string }}</span>
  {% endfor %}
  
  {% for employee in employees %}
  <h2 class="time-slot" style="grid-row: time-{{employee.full_name_in_dash}}; word-break: break-word;">{{employee.user.email}}</h2>
  {% endfor %}
  
  {% for shift_num, employee_shift_arr in shift_dict.items %}
  {% for employee_shift in employee_shift_arr %}
  <div class="session track" style="grid-column: track-{{ forloop.parentloop.counter }}-start; grid-row: time-{{employee_shift.employee.full_name_in_dash}};">
    <h3 class="session-title">{{employee_shift.employee.full_name}}</h3>
	<br>
    <span class="session-presenter">{{employee_shift.employee.job_type}}</span>
  </div>
  {% endfor %}
  {% endfor %}
  
</div>